<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ReactNativeTask">
<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
      android:name="com.ReactNativeTask.MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/icon"
        android:tint="@color/pink"
      android:roundIcon="@mipmap/icon"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
        <activity
            android:name="com.ReactNativeTask.SplashActivity"
            android:theme="@style/SplashTheme"
            android:label="ReactNativeTask"
            android:exported="true"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      <activity
        android:name="com.ReactNativeTask.MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
          android:exported="true"
          android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize">

      </activity>
    </application>
</manifest>
